{
  "eth": {
    "bridge_impl_address": "0xBa78AE6A68DB5784e26a7DdCccd3939BB6cd5F57",
    "bridge_proxy_address": "0xbC685C003884c394eBB5F9235a1DBe9cbdc6c9d6",
    "pending_transaction_poll_delay_sec": 5,
    "private_key": "${SPECTRE_BRIDGE_ETH_PRIVATE_KEY}",
    "rpc_url": "https://goerli.infura.io/v3/${SPECTRE_BRIDGE_INFURA_PROJECT_ID}",
    "rainbow_bridge_index_js_path": "./rainbow-bridge/cli/index.js"
  },
  "etherscan_api": {
    "api_key": "${SPECTRE_BRIDGE_ETHERSCAN_API_KEY}",
    "endpoint_url": "https://api-goerli.etherscan.io"
  },
  "last_block_number_worker": {
    "contract_account_id": "client6.goerli.testnet",
    "request_interval_secs": 15,
    "server_addr": "https://rpc.testnet.near.org"
  },
  "near": {
    "allowed_tokens": [
      "token.spectrebridge.testnet",
      "6b175474e89094c44da98b954eedeac495271d0f.factory.bridge.near"
    ],
    "contract_address": "transfer.spectrebridge.testnet",
    "near_credentials_path": "~/.near-credentials/testnet/spectrebridge.testnet.json",
    "near_lake_init_block": 90753143,
    "rpc_url": "https://rpc.testnet.near.org"
  },
  "near_tokens_coin_id": {
    "mapping": {
      "6b175474e89094c44da98b954eedeac495271d0f.factory.bridge.near": "dai",
      "a0b86991c6218b36c1d19d4a2e9eb0ce3606eb48.factory.bridge.near": "usd-coin",
      "dac17f958d2ee523a2206206994597c13d831ec7.factory.bridge.near": "tether",
      "token.spectrebridge.testnet": "wrapped-near"
    }
  },
  "profit_thershold": 909,
  "redis": {
    "url": "redis://127.0.0.1/"
  },
  "unlock_tokens_worker": {
    "contract_account_id": "transfer.spectrebridge.testnet",
    "request_interval_secs": 15,
    "server_addr": "https://rpc.testnet.near.org",
    "blocks_for_tx_finalization": 10
  },
  "vault_addr": "http://127.0.0.1:8200/v1/kv/"
}