{
  "eth": {
    "bridge_impl_address": "0xBa78AE6A68DB5784e26a7DdCccd3939BB6cd5F57",
    "bridge_proxy_address": "0xbC685C003884c394eBB5F9235a1DBe9cbdc6c9d6",
    "pending_transaction_poll_delay_sec": 5,
    "private_key": "${SPECTRE_BRIDGE_ETH_PRIVATE_KEY}",
    "rpc_url": "https://goerli.infura.io/v3/${SPECTRE_BRIDGE_INFURA_PROJECT_ID}",
    "rainbow_bridge_index_js_path": "./rainbow-bridge/cli/index.js",
    "num_of_confirmations": 14
  },
  "etherscan_api": {
    "api_key": "${SPECTRE_BRIDGE_ETHERSCAN_API_KEY}",
    "endpoint_url": "https://api-goerli.etherscan.io"
  },
  "last_block_number_worker": {
    "contract_account_id": "client-eth2.goerli.testnet",
    "request_interval_secs": 15,
    "server_addr": "https://rpc.testnet.near.org"
  },
  "near": {
    "contract_address": "transfer.spectrebridge.testnet",
    "near_credentials_path": "~/.near-credentials/testnet/spectrebridge.testnet.json",
    "near_lake_init_block": 90753143,
    "rpc_url": "https://rpc.testnet.near.org",
    "near_network": "testnet"
  },
  "near_tokens_whitelist": {
    "mapping": {
      "6b175474e89094c44da98b954eedeac495271d0f.factory.bridge.near": {"exchange_id": "dai", "fixed_fee": "340282366920938463463374607431768211455", "percent_fee": 0, "decimals": 18, "eth_address": "ba62bcfcaafc6622853cca2be6ac7d845bc0f2dc"},
      "a0b86991c6218b36c1d19d4a2e9eb0ce3606eb48.factory.bridge.near": {"exchange_id": "usd-coin", "fixed_fee": "0", "percent_fee": 0, "decimals": 6, "eth_address": "a0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"},
      "dac17f958d2ee523a2206206994597c13d831ec7.factory.bridge.near": {"exchange_id": "tether", "fixed_fee": "0", "percent_fee": 0, "decimals": 6, "eth_address": "dac17f958d2ee523a2206206994597c13d831ec7"},
      "token.spectrebridge.testnet": {"exchange_id": "wrapped-near", "fixed_fee": "0", "percent_fee": 0, "decimals": 6, "eth_address": "ba62bcfcaafc6622853cca2be6ac7d845bc0f2dc"}
    }
  },
  "profit_thershold": 0,
  "redis": {
    "url": "redis://127.0.0.1/"
  },
  "unlock_tokens_worker": {
    "contract_account_id": "transfer.spectrebridge2.testnet",
    "request_interval_secs": 15,
    "server_addr": "https://rpc.testnet.near.org",
    "blocks_for_tx_finalization": 10
  },
  "vault_addr": "http://127.0.0.1:8200/v1/kv/"
}